PAYPAY_API_KEY=a_nHs3d6USYU_3T4a
PAYPAY_API_SECRET=QjLpiuWwFWfSWg2EvlJp7Gjyi1xsXFb2lMPfatkngGs=
PAYPAY_MERCHANT_ID=990268679139434464
PAYPAY_PRODUCTION_MODE=false
PORT=3000
REDIRECT_URL=https://example.com/paypay/redirect
